{% extends "books/base.html" %}
{% block content %}
    <h3>Сменить пароль</h3>
    {% if form.errors %}
        <div role="alert">
            <div id="form_errors">
                {% for key, value in form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <label>Старый пароль: </label>
        <input type="password" name="old_password" autocomplete="new-password" required id="id_old_password"/>
        <br>
        <br>
        <label>Новый пароль: </label>
        <input type="password" name="new_password1" autocomplete="new-password"
               required id="id_new_password1"/>
        <br>
        <br>
        <label for="id_new_password2">Подтвердите новый пароль: </label>
        <input type="password" name="new_password2" autocomplete="new-password"
               required id="id_new_password2"/>
        <br>
        <br>
        <input type="submit" value="Сохранить изменения" >
    </form>
{% endblock content %}