{% extends "books/base.html" %}
{% load books_tags %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
    <h1 class="fw-bolder text-center" style="font-size: 2em">{{ book.title }}</h1>
    <p class="text-muted fst-italic mb-2" align="center">
        Добавлена {{ book.published }}
    </p>
    <div>
        <section style="float: left">
            <img src="{{book.photo.url}}" width="30%" style="float: left; width: 40%; padding: 10px;">
            <aside style="width: 60%; float: right; padding: 60px 30px 0px;" class="mb-5">
                Автор - <a href="{% url 'books:book_list_by_author' author=book.author %}"> {{ book.author }}</a><hr>
                Жанр - {{ book.genre }}<hr>
                Дата написания - {{ book.written }}<hr>
                {% if book.rating > 0 %}
                Рейтинг - {{ book.rating }}/10<hr>
                {% endif %}
                {% if book.tags %}
                Теги:
                {% for tag in book.tags.all %}
                <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'books:book_list_by_tag' tag.slug %}">
                    {{ tag.name }}
                </a>
                {% if not forloop.last %}, {% endif %}
                {% endfor %}
                {%endif%}
            </aside>
        </section>
    </div>
    <div>
        <h4 align="center" style="padding-top: 41%;">Описание книги</h4>
        {{ book.description|markdown }}
    </div>
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary float-left" href="{% url 'books:book_share' book.id %}">
            Поделиться книгой
        </a>
    </div>
    {% if similar_books %}
        <div class="row card mt-2">
            <h2 align="center">Похожие книги</h2>
            {% for book in similar_books %}
                <p>
                    <a href="{{ book.get_absolute_url }}" style="text-decoration: none">{{ book }}</a>
                </p>
            {% endfor %}
        </div>
    {% endif %}
    <div class="row card mt-2">
        {% with comments.count as total_comments %}
            <h2 align="center">
                Комментариев: {{ total_comments }}
            </h2>
            <div>
            <a class="{% if ordering == '-created' %}btn btn-secondary {%else%} btn btn-primary {%endif%}
            float-left" style="float: right" href="{% url 'books:book_detail' book.slug %}">
                Сначала новые
            </a>
            <a class="{% if ordering == 'created' %}btn btn-secondary {%else%} btn btn-primary {%endif%}
             float-left" href="{% url 'books:book_detail' book.slug 'created' %}">
                Сначала старые
            </a>
            </div>
            {% if not auth %}
            <a href="{% url 'accounts:login' %}" style="text-align: center; text-decoration: none; padding: 10px">Чтобы оставлять комментарии, пожалуйста, авторизуйтесь или создайте аккаунт</a>
            {% endif %}
            <hr class="mt-1 mb-1"/>
        {% endwith %}
        {% for comment in comments %}
            <div class="comment">
                <p class="text-muted fst-italic mb-2">
                    Комментарий {{ forloop.counter }} от {{ comment.name }}
                    {{ comment.created }}
                    {% if comment.created != comment.updated %}
                    <span style="float: right">Изменен: {{ comment.updated }}</span>
                    {% endif %}
                </p>
                <span style="padding: 0px">{{ comment.body|safe }}</span>
                {% if comment.author.username == user.username %}
                <a class="btn btn-primary" style="float: right"
                   href="{% url 'books:book_detail_comment_edit' book=book.slug ordering=ordering comment_edit=True comment_id=comment.id %}">
                Редактировать
                </a>
                {% endif %}
            </div>
            <hr class="mt-1 mb-1"/>
        {% empty %}
            <p>Пока еще нет комментариев</p>
        {% endfor %}
        {% if auth %}
            {% include "books/includes/comment_form.html" %}
        {% endif%}
    </div>
{% endblock %}