{% extends "books/base.html" %}
{% load books_tags %}
{% block title %}{{ book.title }}{% endblock %}
{% block content %}
    <h1>{{ book.title }}</h1>
    <p class="date">
        Published {{ book.published }}
    </p>
    <div><img src="{{book.photo.url}}" width="50%"></div>

    {{ book.description|markdown}}
    <p>
        <a href="{% url 'books:book_share' book.id %}">
            Поделиться книгой
        </a>
    </p>
    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} Комментариев
        </h2>
    {% endwith %}
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Комментарий {{ forloop.counter }} от {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|markdown }}
        </div>
    {% empty %}
        <p>Пока еще нет комментариев.</p>
    {% endfor %}
    {% include "books/includes/comment_form.html" %}
{% endblock %}