{% extends "books/base.html" %}
{% load books_tags %}

{% block title %}Books by author{% endblock %}

{% block content %}
    {% if not tag %}
    <h1 align="center">Все книги автора: {{author}}</h1>
    {% endif %}
    {% if tag %}
        <h2>Книги помеченные тегами: <i>"{{ tag.name }}"</i></h2>
    {% endif %}
    {% for book in books %}
    <div class="container">
        <h2 class="fw-bolder">
            <a href="{{ book.get_absolute_url }}" style="font-size: 75%; text-decoration: none;">
                {{ book.title }}
            </a>
        </h2>
        <div class="text-muted fst-italic mb-2">
            Добавлена {{ book.published }}
        </div>
        <div>
            {% if book.tags %}
            Теги:
            {% for tag in book.tags.all %}
                <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'books:book_list_by_tag' tag.slug %}">
                    {{ tag.name }}
                </a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% endif %}
        </div>
        <section style="float: left">
            <img src="{{book.photo.url}}" width="30%" height="30%" style="float: left; width: 35%; padding: 10px; ">
            <div style="padding: 50px 0px 0px;"><aside style="float: right; width: 60%;" class="mb-5">{{ book.description|markdown|truncatewords_html:60 }}</aside></div>
        </section>
    </div>
    {% endfor %}
<div class="container">{% include 'books/pagination.html' with page=books %}</div>
{% endblock %}

