{% extends "books/base.html" %}
{% load books_tags %}

{% block title %}Search{% endblock %}

{% block content %} {% if query %}
    <h1>
        Книги по запросу: "{{ query }}"
    </h1><br>
    <h3>
        {% with results.count as total_results %}
            Найдено книг: {{ total_results }}  {% endwith %}
    </h3><br>
    <hr class="mt-0 mb-4"/>
    {% for book in results %}
        <h4>
            <a href="{{ book.get_absolute_url }}"> {{ book.title }}
            </a>
        </h4>
        {{ book.description|markdown|truncatewords_html:12 }} {% empty %}
        <p>К сожалению, по данному запросу книг нет</p>
    {% endfor %}
    <p><a href="{% url 'books:book_search' %}">Искать снова</a></p> {% else %}
    <form method="get">
        {{ form.query }}
        <input type="submit" value="Поиск" class="btn btn-primary mb-3 btn-lg">
    </form>
{% endif %} {% endblock %}
