{% extends "books/base.html" %}

{% block title %}Share a post{% endblock %}

{% block content %}
    {% if sent %}
        <h1>E-mail был успешно отправлен</h1>
        <p>
            Книга "{{ book.title }}" была успешно отправлена
            нв адрес - {{ form.cleaned_data.to }}
        </p>
    {% else %}
    <h1 align="center">Поделиться книгой <i>"{{ book.title }}"</i></h1><br>
        <form method="post">
             {% for field in form %}
                 <div>
                    {{ field.errors }}
                    {{ field.label_tag }}
                     {{ field }}
                </div>
            {% endfor %}
            {% csrf_token %}
            <input type="submit" value="Отправить" class="btn btn-primary mb-3 btn-lg">
        </form>
    {% endif %}
{% endblock %}